ul.game-thumbnails {
  list-style: none;
  display: table-row;
  width: 100%;
  overflow-x: hidden;
}

ul.game-thumbnails li {
  display: table-cell;
  width: 150px;
  height: 125px;
  padding: 10px 5px 10px 0;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.game-title {
  padding-left: 12px;
  font-size: 20px;
}

.game-publisher {
  padding-left: 12px;
  
}

li.w-60 {
  width: 60px;
}